**/*.pyc
/tf_files
.idea/
**/*~
gradle*
libs/
local.properties
android.iml
.gradle/
android/assets/*
/data/
*.plist
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/Pods
/ios/tfmobile/Pods
/ios/tflite/Pods
**/node_modules
**/dist
**/.cache
/static